<div class="container">
    <div class="header">
        <div class="col-md-7 logo">
            <a href="index.php?g=home&c=index&a=index"><h1>万图书城</h1></a>
        </div>
        <div class="col-md-5 details">
            <div class="addre">
                <span class="location"> </span>
                <div class="detail-para">
                    <p>One reject</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="addre ad-para">
                <span class="tel-ph"> </span>
                <div class="detail-para">
                    <p> Email: <a href="mailto:info@example.com">@lorem.com</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="addre addres-mes">
                <span class="mess"> </span>
                <div class="detail-para">
                    <p>+648 4859</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="top-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="home"><a href="index.php?g=home&c=index&a=index">首页</a></li>
                <li class=""><a href="index.php?g=home&c=index&a=about">关于</a></li>
                <li class=""><a href="index.php?g=home&c=index&a=list">书店</a></li>
                <li class=""><a href="index.php?g=home&c=index&a=gallery">画廊</a></li>
                <li class=""><a href="index.php?g=home&c=index&a=contact">联系我们</a></li>
                <li class=""><a href="index.php?g=home&c=user&a=main">购物车</a></li>
                <li class=""><a href="index.php?g=home&c=user&a=main"><span data-hover="个人中心">个人中心</span></a></li>
            </ul>
        </div>
    </div>
    <div class="banner-bottom">
        <div class="bann-para">
            <h2>Temporibus autem quibusdam et aut officiis debitis aut rerum.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim.</p>
        </div>
        <a href="#">Read More</a>
    </div>
</div>