<nav>
    <ul>
        <li><a href="index.php?g=admin&c=main&a=main"><span class="icon">&#128711;</span> 后台首页</a></li>
        <li>
            <a href="index.php?g=admin&c=main&a=pagestable"><span class="icon">&#128196;</span> 书籍库存</a>

        </li>

        <li>
            <a href="index.php?g=admin&c=main&a=blogtimeline"><span class="icon">&#59160;</span> 客户留言
                </a>
            <ul class="submenu">

                <li><a href="index.php?g=admin&c=main&a=gbmgr">更多留言</a></li>

            </ul>
        </li>

        <li><a href="index.php?g=admin&c=main&a=users"><span class="icon">&#128101;</span> 用户列表

        </a></li>

    </ul>
</nav>