<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title>客户反馈</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="<?php echo __ADMIN_CSS__;?>style.css" media="all" />
	<!--[if IE]><link rel="stylesheet" href="<?php echo __ADMIN_CSS__;?>ie.css" media="all" /><![endif]-->
</head>
<body>
<!-- 顶部导航栏公共代码-->
<?php include_once __ADMIN_COMMON__."main_top.html"; ?>
<!-- 左侧导航栏公共代码-->
<?php include_once __ADMIN_COMMON__."main_aside.html"; ?>
<section class="alert">
	<form method="link" action="blognew.html">
		<button class="green">Create new blog page</button>
	</form>
</section>
<section class="content">
	<section class="widget">
		<header>
			<span class="icon">&#59160;</span>
			<hgroup>
				<h1>Blog</h1>
				<h2>CMS blog pages</h2>
			</hgroup>
			<aside>
				<span>
					<a href="#">&#9881;</a>
					<ul class="settings-dd">
						<li><label>Option a</label><input type="checkbox" /></li>
						<li><label>Option b</label><input type="checkbox" checked="checked" /></li>
						<li><label>Option c</label><input type="checkbox" /></li>
					</ul>
				</span>
			</aside>
		</header>
		<div class="content no-padding timeline">
			<div class="tl-post">
				<span class="icon">&#59160;</span>
				<p><a href="#">项小羽</a> 万图书城各式各样的书籍很全面，我很喜欢来这购买. <span class="time">2018.7.16</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#59160;</span>
				<p><a href="#">张柏芝</a> 宝妈推荐 非常棒的书城哦 <span class="time">2018.7.15</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#59160;</span>
				<p><a href="#">彭于晏</a> 太喜欢这里面买的健身教材了，八块腹肌就从这里开始 <span class="time">2018.7.14</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#59160;</span>
				<p><a href="#">古天乐</a> 你以为我天生古铜色嘛， 其实都是看健康书籍晒的~ 太酷了 <span class="time">2018.7.10</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#59160;</span>
				<p><a href="#">张家辉</a> 我不止玩贪玩狼月，书还是要看的 推荐大家来万图书城 <span class="time">2018.7.5</span></p>
			</div>
			
			<div class="tl-post">
				<span class="icon">&#59160;</span>
				<p><a href="#">周冬雨</a> 最近的扶摇电视剧太好看啦，今天特意来买原著小说看 嘻嘻~~ <span class="time">2018.7.4</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#59160;</span>
				<p><a href="#">黄山</a> 想练习吉他 特意买了几本基础教学看看 <span class="time">2018.7.3</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#59160;</span>
				<p><a href="#">福建网友</a> 打算学php 书可真是太多了，挑选几本热卖的 好好学。学会回家养猪去。 <span class="time">2018.7.1</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#59160;</span>
				<p><a href="#">爱学习的tom</a> The book is great. I really like to buy and learn Chinese next time<span class="time">2018.6.28</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#59160;</span>
				<p><a href="#">成龙</a> 大家好：我是成龙 ，想买书找万图，涨知识找万图， <span class="time">2018.6.25</span></p>
			</div>
		</div>
	</section>
</section>
<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script src="<?php echo __ADMIN_JS__;?>jquery.wysiwyg.js"></script>
<script src="<?php echo __ADMIN_JS__;?>custom.js"></script>
<script src="<?php echo __ADMIN_JS__;?>cycle.js"></script>
<script src="<?php echo __ADMIN_JS__;?>jquery.checkbox.min.js"></script>
<!--<script src="<?php echo __ADMIN_JS__;?>flot.js"></script>
<script src="<?php echo __ADMIN_JS__;?>flot.resize.js"></script>
<script src="<?php echo __ADMIN_JS__;?>flot-graphs.js"></script>
<script src="<?php echo __ADMIN_JS__;?>flot-time.js"></script>
<script src="<?php echo __ADMIN_JS__;?>cycle.js"></script>-->
<script src="<?php echo __ADMIN_JS__;?>jquery.tablesorter.min.js"></script>
</body>
</html>