<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title>客户反馈</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="<?php echo __ADMIN_CSS__;?>style.css" media="all" />
	<!--[if IE]><link rel="stylesheet" href="<?php echo __ADMIN_CSS__;?>ie.css" media="all" /><![endif]-->
</head>
<body>
<!-- 顶部导航栏公共代码-->

<?php include_once __ADMIN_COMMON__."main_top.html"; ?>
<!-- 左侧导航栏公共代码-->
<?php include_once __ADMIN_COMMON__."main_aside.html"; ?>

<section class="alert">
	<form method="link" action="pagenew.html">
		<button class="green">Create new page</button>
	</form>
</section>
<section class="content">
	<section class="widget">
		<header>
			<span class="icon">&#128196;</span>
			<hgroup>
				<h1>Pages</h1>
				<h2>CMS content pages</h2>
			</hgroup>
			<aside>
				<span>
					<a href="#">&#9881;</a>
					<ul class="settings-dd">
						<li><label>Option a</label><input type="checkbox" /></li>
						<li><label>Option b</label><input type="checkbox" checked="checked" /></li>
						<li><label>Option c</label><input type="checkbox" /></li>
					</ul>
				</span>
			</aside>
		</header>
		<div class="content no-padding timeline">
			<div class="tl-post">
				<span class="icon">&#59185;</span>
				<p><a href="#">The benefits of SEO</a> blog page. <span class="time">Created 1 hour ago</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#59185;</span>
				<p><a href="#">Web designs of the month</a> blog page. <span class="time">Created 2 hours ago</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#59185;</span>
				<p><a href="#">The design history of apple</a> blog page. <span class="time">Created 9 hours ago</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#59185;</span>
				<p><a href="#">How to design for retian display</a> blog page. <span class="time">Created 1 days ago</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#59185;</span>
				<p><a href="#">Responsive design</a> blog page. <span class="time">Created 1 days ago</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#9881;</span>
				<p><a href="#">eCommerce design</a> service page. <span class="time">Created 2 days</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#9881;</span>
				<p><a href="#">Search engine optimisation</a> service page. <span class="time">Created 2 days ago</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#9881;</span>
				<p><a href="#">Website design</a> service page. <span class="time">Created 2 days ago</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#128196;</span>
				<p><a href="#">Home</a> page. <span class="time">Created 2 days ago</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#9881;</span>
				<p><a href="#">Services</a> page. <span class="time">Created 3 days ago</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#59185;</span>
				<p><a href="#">Blog</a> page. <span class="time">Created 3 days ago</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#128196;</span>
				<p><a href="#">About us</a> page. <span class="time">Created 4 days ago</span></p>
			</div>
			<div class="tl-post">
				<span class="icon">&#128196;</span>
				<p><a href="#">Contact us</a> page. <span class="time">Created 7 days ago</span></p>
			</div>
		</div>
	</section>
</section>
<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script src="<?php echo __ADMIN_JS__;?>jquery.wysiwyg.js"></script>
<script src="<?php echo __ADMIN_JS__;?>custom.js"></script>
<script src="<?php echo __ADMIN_JS__;?>cycle.js"></script>
<script src="<?php echo __ADMIN_JS__;?>jquery.checkbox.min.js"></script>
<!--<script src="<?php echo __ADMIN_JS__;?>flot.js"></script>
<script src="<?php echo __ADMIN_JS__;?>flot.resize.js"></script>
<script src="<?php echo __ADMIN_JS__;?>flot-graphs.js"></script>
<script src="<?php echo __ADMIN_JS__;?>flot-time.js"></script>
<script src="<?php echo __ADMIN_JS__;?>cycle.js"></script>-->
<script src="<?php echo __ADMIN_JS__;?>jquery.tablesorter.min.js"></script>
</body>
</html>