<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>系统管理员登陆</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="robots" content=""/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="<?php echo __ADMIN_CSS__ ; ?>style.css" media="all"/>
</head>
<body class="login">
<section>
    <h1>Administrator account</h1>
    <form method="post" action="index.php?g=admin&c=login&a=login" id="loginform">
        <div class="alert alert-success" id="alertmess" role="alert" style="color: whitesmoke">Your info has been
            saved.
        </div>
        <input type="text" name="account" id="account" value="" placeholder="管理员账号"/>
        <input value="" type="password" name="password" id="password"/>
        <input name="sysremember" name="sysremember" type="checkbox">Remember Me
        <button class="blue" id="loginbtn">登陆</button>
    </form>
    <p><a href="#">Forgot your password?</a></p>
</section>
<script src="<?php echo __ADMIN_JS__;?>jquery-1.11.1.min.js" type="text/javascript"></script>
<script type="text/javascript">


    $(function () {
        //点击提交按钮
        $("#loginbtn").click(function () {  // $(找到"#sub"按钮).click点击事件(function ()
//提交数据有四个参数，1.url：'index.php?g=home&c=user&a=register';/2.数据:$("#myform").serialize()序列化，不要一个个取;/3.回调函数;/4.指定返回数据类型
            //alert($("#loginform").serialize());
            $.post( //ajax的post提交方法
                'index.php?g=admin&c=login&a=login', //admin提交，login登陆控制器，login方法提交
                $("#loginform").serialize(), //2.$("#myform"id=loginform表单).调用序列化方法serialize()表单里有name的表单元素的值取出来，拼接成字符串的形势
                function (result) { //3.回调函数； function (返回一个数据：result)
                    if (result.errno == 200) {
                        alert(result.mess + "\n点击确认进入系统后台"); //弹出返回结果信息
                        window.location.href = "index.php?g=admin&c=main&a=main"; //
                    } else {
                        $("#alertmess").html(result.mess);//$(根据id找到这个框"#alertmess").html把信息写进去(result.mess返回的结果信息);
                    }
                },
                "json" //4.指定返回数据类型
            );
            return false; //也不让他提交
        });
    })
</script>
</body>
</html>