<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title> PHP7内核剖析</title>
    <meta name="keywords" content="商品详情"/>
    <meta name="description" content="商品详情"/>
    <link rel="stylesheet" type="text/css" href="<?php echo __GOODS_CSS__;  ?>normalize.css"/>
    <script type="text/javascript" src="<?php echo __GOODS_JS__;  ?>jquery-1.9.1.min.js"></script>
    <script src="<?php echo __GOODS_JS__;  ?>common.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var showproduct = {
                "boxid": "showbox",
                "sumid": "showsum",
                "boxw": 400,//宽度,该版本中请把宽高填写成一样
                "boxh": 400,//高度,该版本中请把宽高填写成一样
                "sumw": 60,//列表每个宽度,该版本中请把宽高填写成一样
                "sumh": 60,//列表每个高度,该版本中请把宽高填写成一样
                "sumi": 7,//列表间隔
                "sums": 5,//列表显示个数
                "sumsel": "sel",
                "sumborder": 1,//列表边框，没有边框填写0，边框在css中修改
                "lastid": "showlast",
                "nextid": "shownext"
            };//参数定义
            $.ljsGlasses.pcGlasses(showproduct);//方法调用，务必在加载完后执行
        });
    </script>
</head>
<body>
<div class="showall">
    <!--left -->
    <div class="showbot">
        <div id="showbox">
            <img src="http://img3m0.ddimg.cn/97/18/25185400-1_w_3.jpg" width="320" height="320"/>
            <img src="https://img.alicdn.com/imgextra/i2/352798170/TB24QwhbkOWBuNjSsppXXXPgpXa_!!352798170.jpg_430x430q90.jpg"
                 width="400" height="400"/>
        </div><!--展示图片盒子-->
        <div id="showsum">
            <!--展示图片里边-->
        </div>
        <p class="showpage">
            <a href="javascript:void(0);" id="showlast"> < </a>
            <a href="javascript:void(0);" id="shownext"> > </a>
        </p>
    </div>
    <!--conet -->
    <div class="tb-property">
        <div class="tr-nobdr">
            <h3> PHP7内核剖析</h3><br>
            <p>PHP7内核剖析 PHP基础语法实现 PHP7语言编程技术教程书籍 php网站网页开发设计书籍 PHP框架架构开发技术书 编译语言实现书籍<br><br>【好评返5元店铺礼券】</p>
        </div>
        <div class="txt">
            <div class="price_pc" id="pc-price">

                <div class="price_d">
                    <span class="t" id="wantujia">万图价</span>
                    <span><p id="jiaqian">¥69.80</p></span>
                    <ul class="size">
                        <li>专柜价：<span class="search_pre_price">¥89.00</span>(7.85折)</li>
                    </ul>
                </div>
                <div class="price_vip" style="display:none" id="dd-vip">
                    <span></span>
                </div>
            </div>
            <div class="cumulative"></div>
        </div>
        <div class="txt-h">
        </div>
        <div class="gcIpt">
            <span class="guT">数量</span>
            <input id="min" name="" type="button" value="-"/>
            <input id="text_box" name="" type="text" value="1" style="width:30px; text-align: center; color: #0F0F0F;"/>
            <input id="add" name="" type="button" value="+"/>
            <span class="Hgt">库存（99）</span>
        </div>
        <div class="nobdr-btns">
            <button onclick="aaa()" class="addcart hu"><img src="<?php echo __GOODS_IMAGES__;  ?>shop.png" width="25"
                                                            height="25"/>加入购物车
            </button>
            <button class="addcart yh"><img src="<?php echo __GOODS_IMAGES__;  ?>ht.png" width="25" height="25"/>立即购买
            </button>
        </div>
        <div class="guarantee">
            <span>邮费：包邮&nbsp;&nbsp;支持货到付款 <a href=""><img src="<?php echo __GOODS_IMAGES__;  ?>me.png"/></a></span>
        </div>
    </div>

    <div class="extInfo">
        <div class="brand-logo">
            <a href="" title="厦门万图书城">
                <img src="<?php echo __GOODS_IMAGES__;  ?>ho_03.png"/>
            </a>
        </div>
        <div class="seller-pop-box">
            <span class="tr">商家名称：国际万图书城</span>
            <span class="tr">商家等级：高级店铺</span>
            <span class="tr">客家电话：12345678910</span>
            <span class="tr hoh">
            	            		<a title="国际万图书城" href="">所在地区：厦门万图书城</a>
            	            	</span>
        </div>
        <div class="seller-phone">
            	            	<span class="pop im">
            	            		<a href="" data-name="联系卖家"><img src="<?php echo __GOODS_IMAGES__;  ?>phon.png"/>联系卖家</a>
            	            	</span>
            <span class="pop in">
            	            		<a href="" data-name="咨询卖家"><img src="<?php echo __GOODS_IMAGES__;  ?>qq.png"/>咨询卖家</a>
            	            	</span>
            <span class="pop in">
            	            		<a href="" data-name="进店逛逛"><img
                                            src="<?php echo __GOODS_IMAGES__;  ?>shop-line.png"/>进店逛逛</a>
            	            	</span>
            <span class="pop in">
            	            		<a href="" data-name="关注店铺"><img src="<?php echo __GOODS_IMAGES__;  ?>staar.png"/>关注店铺</a>
            	            	</span>
        </div>
        <div class="jd-service">
            <a href="">
                <!--<img src="<?php echo __GOODS_IMAGES__;  ?>ho_07.png"/>-->
            </a>
        </div>
        <div class="suport-icons">
            <h4>扫一扫<br/>手机下单更优惠</h4>
            <img src="<?php echo __GOODS_IMAGES__;  ?>ho_11.jpg"/>
        </div>
    </div>
</div>
<!-- 推荐搭配 -->
<div class="gdetail"></div>

<!-- 商品介紹 -->
<div class="gdetail">
    <!-- left -->
    <div class="aside" style="height: 900px;">
        <h3>看了还看<span><img src="<?php echo __GOODS_IMAGES__;  ?>fod.png" width="22" height="22"/>换一批</span></h3>
        <li class="ac-mod-list" style="border-bottom: 1px dotted #ccc; margin-bottom:1px;" ;>
            <dt><a href=""><img src="<?php echo __GOODS_IMAGES__;  ?>3.jpg" style="padding-top: 10px;"/></a></dt>
            <dd>
                <span>¥121.80</span>
                <p>东野圭吾经典套装（全四册）</p>
                <p style="padding-bottom: 10px;padding-top: 10px;">作者:东野圭吾</p>
            </dd>
        </li>
        <li class="ac-mod-list" style="border-bottom: 1px dotted #ccc; margin-bottom:1px;" ;>
            <dt><a href=""><img src="<?php echo __GOODS_IMAGES__;  ?>1.jpg" style="padding-top: 10px;"/></a></dt>
            <dd>
                <span>￥50.8</span>
                <p>PHP学习手册</p>
                <p style="padding-bottom: 10px;padding-top: 10px;">作者:[美]David Sklar（大卫·斯克拉）</p>
            </dd>
        </li>
        <dl class="ac-mod-list">
            <dt><a href=""><img src="<?php echo __GOODS_IMAGES__;  ?>2.jpg" style="padding-top: 10px;"/></a></dt>
            <dd>
                <span>￥50.8</span>
                <p>PHP学习手册</p>
                <p style="padding-bottom: 10px;padding-top: 10px;">作者:[美]David Sklar（大卫·斯克拉）</p>
            </dd>
        </dl>
    </div>
    <!-- right -->
    <script>
        var detail = document.querySelector('.detail');
        var origOffsetY = detail.offsetTop;

        function onScroll(e) {
            window.scrollY >= origOffsetY ? detail.classList.add('sticky') :
                detail.classList.remove('sticky');
        }

        document.addEventListener('scroll', onScroll);
    </script>
    <div class="detail">
        <div class="active_tab" id="outer">
            <ul class="act_title_left" id="tab">
                <li class="act_active">
                    <a href="#">商品介绍</a>
                </li>
            </ul>
            <ul class="act_title_right">
                <li class="mui">
                    <a id="mui-a" href="#">扫手机下单+</a>
                </li>
                <li class="mui-ac">
                    <a href="#">加入购物车</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div id="content" class="active_list">
            <!--0-->
            <div id="ui-a" class="ui-a">
                开 本：16开纸 &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;张：胶版纸包&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;装：平装-胶订是否套装：否&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;国际标准书号ISBN：9787121328107<br>
                所属分类：
                图书>计算机/网络>程序设计>PHP<br>
                编辑推荐<br>
                基于PHP7，深刻揭示内核原理<br>
                内容翔实，详细介绍PHP语言底层的实现<br>
                助力开发者进一步理解PHP，参与到PHP的实现中<br>


                <br><br>内容简介<br>
                PHP作为流行的语言之一，自*个版本发布至今的二十几年里经历了多次重大改进，PHP7版本*的特色在于其性能上的突破，比PHP5快了一倍。目前PHP7已经得到了广泛应用，越来越多的项目从PHP5迁移到了PHP7。目前，关于PHP内核的资料非常有限，本书以当前流行的PHP7版本为基础，系统性地、尽可能详细地介绍PHP语言底层的实现，旨在帮助更多的开发者进一步理解PHP，参与到PHP的实现中，为未来PHP的发展贡献一份力量！全书内容主要包括PHP数据类型的实现、PHP的编译及执行、PHP内存的管理、函数及面向对象的实现、PHP基础语法的实现，以及PHP扩展的开发。
                <br><br>作者简介<br>
                秦朋，高级开发工程师，曾就职于360、搜狗等公司，有多年高并发、分布式服务开发经验，尤其熟悉PHP扩展及其底层的实现机制，对PHP有深入的理解。目前就职于滴滴引擎技术部，从事分单架构方面的工作。<br>
                目　　录<br>
                目　　录<br>


                <br>第1章　PHP基础架构<br>
                1.1　简介<br>
                1.2　安装及调试<br>
                1.3　PHP7的变化<br>
                1.4　PHP的构成<br>
                1.5　生命周期<br>
                1.6　小结<br>
                第2章　SAPI<br>
                2.1　Cli<br>
                2.1.1　执行流程<br>
                2.1.2　内置Web服务器<br>
                显示全部信息<br>
                前　　言<br>
                序一<br>


                <br> <br>PHP是一门优秀的Web开发的编程语言，一直说PHP是世界“最优秀”的语言，其他各个语言，包括Python/Java等语言都有相应的源码剖析或者内核解读之类的书籍，哪怕MySQL/Redis等都有相应的源码解读书籍。但是目前的图书市场，除了零零碎碎的一些PHP内核描述的文章，真正关于内核的书籍只有英文的《Extending
                and Embedding PHP》，中文电子版的《TIPI：深入理解PHP内核》算是相对比较专业的描述PHP内核特性的书籍。<br>
                本书从整个PHP的内部数据结构到内存管理GC，从PHP脚本的编译执行原理到扩展开发，都有详实、深入的描述，是一本国内难得的描述PHP内核的佳作，非常值得推荐。看完以后，对整个PHP的内部理解，会更上一个新档次。<br>
                显示全部信息<br>
                媒体评论<br>
                《PHP7内核剖析》有别与市面上的其他PHP技术图书，它不是介绍PHP如何应用，而是深入讲解PHP语言的底层实现原理。它面向的是具备较多PHP项目经验的中高级的开发者。阅读本书可以帮助开发者了解PHP内核实现，对PHP有更深入更全面更清晰的理解，有助于开发者将自身技术水平提升到一个新的层次。<br>
                ——韩天峰（车轮互联总架构师，Swoole创始人）<br>

                <br> 此书图文并茂，内容详实，细致。非常适合对PHP有一定了解，想深入学习PHP运行机制的同学。<br>
                ——信海龙（阿里巴巴技术专家）<br>

                <br>在PHP社区中，关于PHP内核的资料非常有限，大部分PHP开发者停留在使用的阶段，而对PHP的内部实现少有涉猎。该书弥补了这一缺憾，从变量、基础语法的实现到PHP的编译、执行以及函数、面向对象的实现，非常全面、详细的介绍了PHP7底层的原理，强烈推荐！
                <br>显示全部信息<br><br><br>
                价格说明<br>
                当当价：为商品的销售价，具体的成交价可能因会员使用优惠券、积分等发生变化，最终以订单结算页价格为准。<br>
                划线价：划线价格可能是图书封底定价、商品吊牌价、品牌专柜价或由品牌供应商提供的正品零售价（如厂商指导价、建议零售价等）或该商品曾经展示过的销售价等，由于地区、时间的差异化和市场行情波动，商品吊牌价、品牌专柜价等可能会与您购物时展示的不一致，该价格仅供您参考。<br>
                折扣：折扣指在划线价（图书定价、商品吊牌价、品牌专柜价、厂商指导价等）某一价格基础上计算出的优惠比例或优惠金额。如有疑问，您可在购买前联系客服咨询。<br>
                异常问题：如您发现活动商品销售价或促销信息有异常，请立即联系我们补正，以便您能顺利购物。<br><br><br><br></p>

            </div>
            <!--商品规格-->
            <div id="bit" class="bit">
                <ul style="display:none;">
                </ul>
            </div>

            <!--商品评价-->

            <div id="ui-c" class="ui-c">
                <ul style="display:none;">

                </ul>
            </div>
            <!--售后保障-->
            <div id="uic" class="uic">
                <ul style="display:none;">
                </ul>
            </div>
        </div>
        <script>
            $(function () {
                window.onload = function () {
                    var $li = $('#tab li');
                    var $ul = $('#content ul');

                    $li.mouseover(function () {
                        var $this = $(this);
                        var $t = $this.index();
                        $li.removeClass();
                        $this.addClass('act_active');
                        $ul.css('display', 'none');
                        $ul.eq($t).css('display', 'block');
                    })
                }
            });
        </script>
    </div>
</div>
<!--ajax提交数据-->
<script type="text/javascript">
    function aaa() {
        $.post( //ajax的POST方法提交数据
            'index.php?g=home&c=cart&a=getGoods2', //查看数组是否成功数组页面
            function (result) { //3.回调函数； function (返回一个数据：result)
                if (result.errno == 200) {
                    alert(result.mess + "\n点击确认后进入到商品列表");
                    window.location.href = "index.php?g=home&c=index&a=list";
                } else {
                    alert(result.mess + "\n点击确认后重新添加商品");
                    window.location.href = "index.php?g=home&c=index&a=index2";
                }
            },
            "json" //4.指定返回数据类型
        );
        return false;//不让他提交
    }

</script>

</body>
</html>
