<!DOCTYPE HTML>
<html>
<head>
    <title>首页</title>
    <link href="<?php echo __HOME_CSS__ ;?>bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="<?php echo __HOME_JS__ ;?>jquery-1.11.0.min.js"></script>
    <!-- Custom Theme files -->
    <link href="<?php echo __HOME_CSS__ ;?>style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Training Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kreon:400,700,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="<?php echo __HOME_JS__ ;?>move-top.js"></script>
    <script type="text/javascript" src="<?php echo __HOME_JS__ ;?>easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!-- //end-smoth-scrolling -->
    <script src="<?php echo __HOME_JS__ ;?>bootstrap.min.js"></script>
</head>
<body>
<!--header start here-->
<div class="banner">
    <!--引入公共代码-->
    <?php include_once __HOME_COMMON__."index_header.html"; ?>

    <!--//header-bottom-->
</div>
<!--header strat here-->
<!--welcome start here-->
<div class="welcome">
    <div class="container">
        <div class="wel-main">
            <div class="wel-top">
                <h3>Welcome To Modern Technologies</h3>
            </div>
            <div class="wel-bottom">
                <div class="col-md-6 wel-left">
                    <div class="wel-block">
                        <div class="wel-img">
                            <img src="<?php echo __HOME_IMAGES__ ;?>w6.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="wel-text">
                            <h4>Temporibus autem</h4>
                            <p>To take a trivial example, which of us ever undertakes laborious physical exercise</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="wel-block">
                        <div class="wel-img">
                            <img src="<?php echo __HOME_IMAGES__ ;?>w2.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="wel-text">
                            <h4>Temporibus autem</h4>
                            <p>To take a trivial example, which of us ever undertakes laborious physical exercise</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 wel-right">
                    <div class="wel-block">
                        <div class="wel-img">
                            <img src="<?php echo __HOME_IMAGES__ ;?>w3.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="wel-text">
                            <h4>Temporibus autem</h4>
                            <p>To take a trivial example, which of us ever undertakes laborious physical exercise</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="wel-block">
                        <div class="wel-img">
                            <img src="<?php echo __HOME_IMAGES__ ;?>w5.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="wel-text">
                            <h4>Temporibus autem</h4>
                            <p>To take a trivial example, which of us ever undertakes laborious physical exercise</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--welcome end here-->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/">免费网站模板</a></div>
<!--testimonial start here-->
<div class="testimo">
    <div class="container">
        <div class="testimo-main">
            <h3>Nor again is there anyone who loves</h3>
            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                and I will give you a complete account </p>
        </div>
    </div>
</div>
<!--testimonial end here-->
<!--our admissions start here-->
<div class="admission">
    <div class="container">
        <div class="admissions-main">
            <div class="admission-top">
                <h3>Itaque earum rerum hic tenetur</h3>
            </div>
            <div class="admission-bottom">
                <div class="col-md-6 admission-left">
                    <span class="quot1"> </span>
                    <div class="quot-text">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam.</p>
                        <h4>Neque porro quisquam est, qui dolorem</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 admission-left">
                    <span class="quot1"> </span>
                    <div class="quot-text">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam.</p>
                        <h4>Neque porro quisquam est, qui dolorem</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--our admissions end here-->
<!--course strat here-->
<div class="course">
    <div class="col-md-6 course-left">

    </div>
    <div class="col-md-6 course-right">
        <h6>voluptatem accusantium</h6>
        <h3>What We Do</h3>
        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
            by the charms of pleasure of the moment, so blinded by desire.</p>
        <a href="contact.html">Contact Us</a>
    </div>
    <div class="clearfix"></div>
</div>
<!--courses end here-->
<!--footer start here-->
<!--引入公共代码-->
<?php include_once __HOME_COMMON__."index_footer.html"; ?>

<!--//header-bottom-->

</body>
</html>