<!DOCTYPE HTML>
<html>
<head>
    <title>万图书城商品列表</title>
    <link href="<?php echo __LIST_CSS__;  ?>style.css" rel="stylesheet" type="text/css" media="all"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Flash Registration Form  Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <!--web-fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
</head>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200' rel='stylesheet' type='text/css'>
<script src="<?php echo __LIST_JS__;  ?>jquery.min.js"></script>
<script>$(document).ready(function (c) {
    $('.close').on('click', function (c) {
        $('.product-section').fadeOut('slow', function (c) {
            $('.product-section').remove();
        });
    });
});
</script>
<script>$(document).ready(function (c) {
    $('.close1').on('click', function (c) {
        $('.product1').fadeOut('slow', function (c) {
            $('.product1').remove();
        });
    });
});
</script>
<script>$(document).ready(function (c) {
    $('.close2').on('click', function (c) {
        $('.product2').fadeOut('slow', function (c) {
            $('.product2').remove();
        });
    });
});
</script>
<body background="<?php echo __LIST_IMAGES__;  ?>banner2.jpg" style="width: 100%" >
<!---header--->
<div class="header">
    <h1>图书榜单</h1>
    <!--<h2><a href="index.php?g=home&c=index&a=about">返回首页</a></h2>-->
</div>
<!---header--->
<!---main--->
<div class="main">
    <div class="main-section">
        <div class="product-section" style="height: 140px;">
            <div class="product-top" style="padding-top: 10px;width: 600px;">
                <div class="product-left">
                    <img src="<?php echo __LIST_IMAGES__;  ?>3.jpg" style="width: 120px;">
                </div>
                <div class="product-right">
                    <h3><a href="index.php?g=home&c=index&a=index1"/>跟兄弟连学PHP细说PHP升级版，过万PHP用户选择。</a></h3>
                    <h5>兄弟连IT教育 组编</h5>
                    出版社：电子工业出版社<br/>
                    <span>出版时间：2012-08-01</span>
                    <ul class="size">
                        <li>¥99.40 &nbsp;&nbsp;专柜价：<span class="search_pre_price">¥118.00</span>(8.43折)</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="product1" style="height: 140px;">
            <div class="product-top" style="padding-top: 10px;width: 600px;">
                <div class="product-left">
                    <img src="<?php echo __LIST_IMAGES__;  ?>2.jpg" style="width: 120px;">
                </div>
                <div class="product-right">
                    <h3><a href="index.php?g=home&c=index&a=index2"/>PHP7内核剖析</a></h3>
                    <h5>秦朋 著</h5>
                    出版社：电子工业出版社<br/>
                    <span>出版时间：2017-10-01</span>
                    <ul class="size">
                        <li>¥69.80 &nbsp;&nbsp;专柜价：<span class="search_pre_price">¥89.00</span>(7.85折)</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="product1" style="height: 140px;">
            <div class="product-top" style="padding-top: 10px;width: 600px;">
                <div class="product-left">
                    <img src="<?php echo __LIST_IMAGES__;  ?>1.jpg" style="width: 120px;">
                </div>
                <div class="product-right">
                    <h3><a href="index.php?g=home&c=index&a=index3"/>红星照耀中国（青少版）人民文学出版社</a></h3>
                    <h5>埃德加·斯诺 著；董乐山 译</h5>
                    出版社：人民文学出版社<br/>
                    <span>出版时间：2017-06-01 </span>
                    <ul class="size">
                        <li>¥31.40 &nbsp;&nbsp;专柜价：<span class="search_pre_price">¥33.00</span>(9.5折)</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="product1" style="height: 140px;">
            <div class="product-top" style="padding-top: 10px;width: 600px;">
                <div class="product-left">
                    <img src="<?php echo __LIST_IMAGES__;  ?>4.jpg" style="width: 120px;">
                </div>
                <div class="product-right">
                    <h3><a href="index.php?g=home&c=index&a=index4"/>PHP从入门到精通（第4版）</a></h3>
                    <h5>明日科技 </h5>
                    出版社：清华大学出版社<br/>
                    <span>出版时间：2017-06-01</span>
                    <ul class="size">
                        <li>¥59.00 &nbsp;&nbsp;专柜价：<span class="search_pre_price">¥79.80</span>(7.4折)</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="product1" style="height: 140px;">
            <div class="product-top" style="padding-top: 10px;width: 600px;">
                <div class="product-left">
                    <img src="<?php echo __LIST_IMAGES__;  ?>5.jpg" style="width: 120px;">
                </div>
                <div class="product-right">
                    <h3><a href="index.php?g=home&c=index&a=index5"/>PHP+MySQL网站开发全程实例 第2版</a></h3>
                    <h5>于荷云 编著</h5>
                    出版社：清华大学出版社<br/>
                    <span>出版时间：2015-06-01</span>
                    <ul class="size">
                        <li>¥46.60 &nbsp;&nbsp;专柜价：<span class="search_pre_price">¥59.00</span>(7.9折)</li>

                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="product1" style="height: 140px;">
            <div class="product-top" style="padding-top: 10px;width: 600px;">
                <div class="product-left">
                    <img src="<?php echo __LIST_IMAGES__;  ?>6.jpg" style="width: 120px;">
                </div>
                <div class="product-right">
                    <h3><a href="index.php?g=home&c=index&a=index6"/>高性能PHP 7首著问世 宇宙至强语言迎来重大版本升级</a></h3>
                    <h5>（巴基斯坦）Altaf Hussain（阿尔塔夫·侯赛因） 著，吕毅 译</h5>
                    出版社：电子工业出版社<br/>
                    <span>出版时间：2017-02-01 </span>
                    <ul class="size">
                        <li>¥58.20 &nbsp;&nbsp;专柜价：<span class="search_pre_price">¥69.00</span>(8.44折)</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="footer">
    <p>Copyright &copy; More Templates <a href="" target="_blank" title="万图书城">万图书城</a> - Collect from <a href="" title="万图书城" target="_blank">万图书城</a></p>
</div>

<!---main--->
</body>
</html>